.root {
  border: none;
  background-color: var(--red);
  color: var(--white);
  box-shadow: 0 0 1px transparent;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
  line-height: 1;
  padding: 12px 32px;
  font-size: 1rem;
  &:hover {
    animation: button-push .3s linear 1;
  }
  &:disabled {
    pointer-events: none;
    opacity: .8;
  }
}

@keyframes button-push {
  50% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1);
  }
}