.root {
  background-color: var(--box-background-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  width: 90vw;
  max-width: 800px;
  padding: 20px 30px;
  border-radius: 20px;
  & .projectName {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  & .imageList {
    margin-top: 20px;
  }
  & p {
    font-weight: 300;
    & span {
      &:not(:last-child)::after {
        content: ", "
      }
    }
    & a {
      text-decoration: underline;
      font-style: italic;
      font-weight: 600;
      color: var(--yellow);
    }
  }
}