.root {
  background-color: var(--box-background-color);
  color: var(--text-color);
  box-shadow: var(--box-shadow);
  width: 90vw;
  max-width: 800px;
  padding: 30px;
  border-radius: 20px;
  & .header {
    margin-bottom: 20px;
    position: relative;
    & .projectName {
      text-align: center;
      font-size: 2rem;
    }
    & .closeButton {
      position: absolute;
      top: -15px;
      right: 0;
      font-size: 1.5rem;
      cursor: pointer;
      transition: var(--transition);
      &:hover {
        color: var(--red);
      }
    }
  }
  & .imageList {
    margin-top: 20px;
  }
  & p {
    font-weight: 300;
    & span {
      &:not(:last-child)::after {
        content: ", "
      }
    }
    & a {
      text-decoration: underline;
      font-style: italic;
      font-weight: 600;
      color: var(--yellow);
    }
  }
}