.app {
  --red: #ff4c60;
  --yellow: #ffd15c;
  --blue: #6c6ce5;
  --white: #ffffff;
  --gray: #9c9ab3;
}
.light {
  --background-color: #f9f9ff;
  --text-color: #454360;
  --text-menu-color: #ff4c60;
}
.dark {
  --background-color: #353353;
  --text-color: #ffffff;
  --text-menu-color: #ffd15c;
}