.app-theme {
  --red: #ff4c60;
  --yellow: #ffd15c;
  --blue: #6c6ce5;
  --white: #ffffff;
  --gray: #9c9ab3;
  --black: #353353;
}
.app-style {
  --transition: all .2s ease-in-out;
  --box-shadow: 0 5px 20px 0 rgba(69, 67, 96, .1);
}
.light {
  --background-color: #f9f9ff;
  --box-background-color: #ffffff;
  --text-color: #454360;
  --text-menu-color: #ff4c60;
  --menu-border-right: 1px solid rgba(0, 0, 0, .05);
  --dot-color: rgba(0, 0, 0, .05);
}
.dark {
  --background-color: #353353;
  --box-background-color: #302f4e;
  --text-color: #ffffff;
  --text-menu-color: #ffd15c;
  --menu-border-right: 1px solid hsla(0, 0%, 100%, .1);
  --dot-color: hsla(0, 0%, 100%, .1)
}