.root {
  display: flex;
  align-items: center;
  
  font-size: 1rem;
  font-weight: 700;

  padding: 8px 0;
  cursor: pointer;
  &:hover {
    & .name {
      color: var(--text-menu-color);
    }
  }
  & .icon {
    transition: var(--transition);
    
    color: var(--text-menu-color);
    margin-right: 20px;
  }
  & .name {
    transition: var(--transition);
    color: var(--text-color);
  }
}