.root {
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 0;
  cursor: pointer;
  &:hover {
    & .name {
      color: var(--text-menu-color);
    }
  }
  & .icon {
    color: var(--text-menu-color);
    margin-right: 20px;
  }
  & .name {
    transition: all .2s ease-in-out;
  }
}